[build]
  command = "pip install -r requirements.txt"
  publish = "."

[functions]
  directory = "netlify/functions"
  included_files = ["*.py", "templates/**", "static/**"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app"
  status = 200
  force = true